Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
python-dotenv==1.0.0
requests==2.31.0
Werkzeug==3.0.1
SQLAlchemy>=2.0.36
bcrypt==4.1.1
Pillow==11.0.0
python-magic==0.4.27
validators==0.22.0
WTForms==3.1.1
gunicorn==21.2.0
gevent>=24.11.0
tenacity==8.2.3
tqdm==4.66.1
flask-bootstrap==3.3.7.1
flask-cors==4.0.0
